{{ template "header.html". }}
{{ template "navbar.html". }}
{{ template "sidebar.html". }}
<section>
    <div class="card">
        <form id="edit-weather-form" action="/home/weather/update/{{.data.ID}}" method="POST">
            <div class="card-body">
                <div class="row mt-4">
                    <div class="col-md">
                            <input type="hidden" name="_csrf" value="{{.csrfToken}}">
                            <div class="row align-items-center">
                                <div class="col-md-2 py-2">
                                    <label for="City">City</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="City" name="City" value="{{.data.City}}" readonly>
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <div class="col-md-2 py-2">
                                    <label for="Summary">Weather Summary</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="Summary" name="Summary" value="{{.data.Summary}}">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <div class="col-md-2 py-2">
                                    <label for="Temperature">Temperature</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="Temperature" name="Temperature" value="{{.data.Temperature}}">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <div class="col-md-2 py-2">
                                    <label for="WindSpeed">Wind Speed</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="WindSpeed" name="WindSpeed" value="{{.data.WindSpeed}}">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <div class="col-md-2 py-2">
                                    <label for="WindAngle">Wind Angle</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="WindAngle" name="WindAngle" value="{{.data.WindAngle}}">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <div class="col-md-2 py-2">
                                    <label for="WindDirection">Wind Direction</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="WindDirection" name="WindDirection" value="{{.data.WindDirection}}">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/home/weather';">Back</button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        </form>
    </div>
</section>
{{ template "script.html". }}
{{ template "footer.html". }}