{{ template "header.html". }}
{{ template "navbar.html". }}
{{ template "sidebar.html". }}
<section>
    <div class="card">
        <div class="card-header">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddNewWeatherModal">New Weather</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>City</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Summary</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .data }}
                        <tr>
                            <td>{{ .Number }}</td>
                            <td>{{ .City }}</td>
                            <td>{{ .Latitude }}</td>
                            <td>{{ .Longitude }}</td>
                            <td class="text-center">{{ .Summary }}</td>
                            <td class="text-center">
                                <div class="row g-0 mx-0 px-0">
                                    <div class="col-md">
                                        <a href="/home/weather/detail/{{ .ID }}" class="btn btn-sm btn-success">
                                            <i class="bx bxs-info-circle" style="color: white"></i>
                                        </a>
                                    </div>
                                    <div class="col-md">
                                        <a href="/home/weather/edit/{{ .ID }}" class="btn btn-sm btn-warning">
                                            <i class="bx bx-edit-alt" style="color: white"></i>
                                        </a>
                                    </div>
                                    <div class="col-md">
                                        <a href="#" class="btn btn-sm btn-danger" id="btn-delete-weather" data-city="{{.City}}" data-encoded-id="{{ .ID }}">
                                            <i class="bx bx-trash" style="color: white"></i>
                                        </a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="AddNewWeatherModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Weather</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-4">
                    <div class="col-md-2 pt-2">
                        <label for="City" class="form-label">City</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="City" id="City" class="form-control" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 pt-2">
                        <label for="Summary" class="form-label">Summary</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="Summary" name="Summary" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 pt-2">
                        <label for="Temperature" class="form-label">Temperature</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" class="form-control" id="Temperature" name="Temperature" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 pt-2">
                        <label for="WindSpeed" class="form-label">Wind Speed</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" class="form-control" id="WindSpeed" name="WindSpeed" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 pt-2">
                        <label for="WindAngle" class="form-label">Wind Angle</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" class="form-control" id="WindAngle" name="WindAngle" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 pt-2">
                        <label for="WindDirection" class="form-label">Wind Direction</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="WindDirection" name="WindDirection" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
{{ template "script.html". }}
<script>
    $(document).ready(function () {
        $(document).on('click','#btn-delete-weather', function () {
            var city = $(this).data('city'); // e.g., "Jakarta"
            var encodedId = $(this).data('encoded-id'); // e.g., encoded ID from your backend

            Swal.fire({
                title: `Do you want to delete ${city}'s weather?`,
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "Cancel",
                icon: "warning"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/home/weather/delete/${encodedId}`;
                }
            });
        });
    });
</script>
{{ if .errorWeather }}
<script>
    Swal.fire({
        title: "Error",
        text: `{{ .errorWeather }}`,
        icon: "error",
        width: "20em"
    });
</script>
{{ end }}
{{ if .successUpdate }}
<script>
    Swal.fire({
        title: "Success",
        text: `{{ .successUpdate }}`,
        icon: "success",
        width: "20em"
    });
</script>
{{ end }}
{{ if .errorUpdate }}
<script>
    Swal.fire({
        title: "Error",
        text: `{{ .errorUpdate }}`,
        icon: "error",
        width: "20em"
    });
</script>
{{ end }}
{{ if .successDelete }}
<script>
    Swal.fire({
        title: "Success",
        text: `{{ .successDelete }}`,
        icon: "success",
        width: "20em"
    });
</script>
{{ end }}
{{ template "footer.html". }}